/* ****** ACTION BUTTONS ****** */

EosActionButton {
	background-color: transparent;
	border-style: solid;
	margin: 10px;

	border-radius: 40px;
	border-width: 8px;
}

EosActionButton GtkLabel {
	font-family: BentonSans, sans-serif;
	font-weight: normal;
	font-size: 11px;
}

/* ****** SIZES ****** */

EosActionButton.primary {
	border-radius: 40px;
	border-width: 8px;
}

EosActionButton.secondary {
	border-radius: 30px;
	border-width: 6px;
}

EosActionButton.tertiary {
	border-radius: 23px;
	border-width: 5px;
}

EosActionButton.quaternary {
	border-radius: 17px;
	border-width: 4px;
}

/* ****** LIGHT BACKGROUND ****** */

/* normal */
EosActionButton,
EosActionButton:selected,
EosActionButton:focused {
	border-color: alpha(#323232, 0.5);
	box-shadow: 1px 1px 1px alpha(black, 0.8) inset,
	            0px -1px 1px alpha(white, 0.65);
}

EosActionButton GtkLabel,
EosActionButton:selected GtkLabel,
EosActionButton:focused GtkLabel {
	color: alpha(#323232, 0.65);
}

/* hover */
EosActionButton:hover {
	border-color: alpha(#323232, 0.8);
	box-shadow: 1px 1px 1px alpha(black, 0.8) inset;
}

EosActionButton:hover GtkLabel {
	color: alpha(#1E1E1E, 0.8);
}

/* pressed */
EosActionButton:active {
	border-color: alpha(#323232, 0.65);
	box-shadow: 1px 1px 1px alpha(black, 0.8) inset;
}	

EosActionButton:active {
	color: alpha(#1E1E1E, 0.8);
}

/* insensitive, just in case */
EosActionButton:insensitive,
EosActionButton:inconsistent {
	border-color: alpha(#888888, 0.50);
	box-shadow: none;
}

/* ****** DARK BACKGROUND ****** */


/* normal */
.dark EosActionButton,
.dark EosActionButton:selected,
.dark EosActionButton:focused {
	border-color: alpha(#E6E6E6, 0.5);
	box-shadow: 1px 1px 1px alpha(black, 0.95) inset,
	            0px -1px 1px alpha(white, 0.5) inset;
}

.dark EosActionButton GtkLabel,
.dark EosActionButton:selected GtkLabel,
.dark EosActionButton:focused GtkLabel {
	color: alpha(#E6E6E6, 0.5);
}

/* hover */
.dark EosActionButton:hover {
	border-color: alpha(white, 0.8);
	box-shadow: 1px 1px 1px alpha(black, 0.95) inset,
	            0px -1px 1px alpha(white, 0.85) inset;
}

.dark EosActionButton:hover GtkLabel {
	color: alpha(white, 0.8);
	font-style: italic;
}

/* pressed */
.dark EosActionButton:active {
	border-color: alpha(white, 0.65);
	box-shadow: 1px 1px 1px alpha(black, 0.95) inset,
	            0px -1px 1px alpha(white, 0.7) inset;
}	

.dark EosActionButton:active {
	color: alpha(white, 0.8);
}

/* ****** ACTION MENU ****** */

GtkFrame#menu {
	background-color: mix(white, black, 0.2);
	border-color: mix(white, black, 0.5);
	border-width: 0 0 0 6px;
}

GtkFrame.dark#menu {
	background-color: mix(white, black, 0.8);
	border-width: 0 0 0 6px;
}
