/* ****** ACTION MENU ****** */

#page {
	background: #999999;
}

GtkFrame {
}

GtkFrame * {
	color: black;
	font-size: xx-large;
}

#left {
	background: yellow;
}

#center {
	background: red;
}

#right {
	background: green;
}