[color]
	status = auto
	commit = auto
	diff = auto
	branch = auto
[credential]
	helper = cache --timeout=28800
[push]
	default = simple
[alias]
    st = status
    ch = checkout
    get = fetch --prune
    publish = push --set-upstream origin HEAD
