/Makefile
/Makefile.in
/endless-decl-list.txt
/endless-decl.txt
/endless-undeclared.txt
/endless-undocumented.txt
/endless-unused.txt
/endless.args
/endless.hierarchy
/endless.interfaces
/endless.prerequisites
/endless.signals
/endless.types
/html
/so_locations
/tags
/version.xml
/xml
/*.bak
/gtkdoc-check.test
