sup,sub
{
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
}

sup
{
  bottom:1ex;
}

sub
{
  top:.5ex;
}

body.page-Wikipédia_Página_principal #t-cite,body.page-Wikipédia_Página_principal #lastmod,body.page-Wikipédia_Página_principal #siteSub,body.page-Wikipédia_Página_principal #contentSub,body.page-Wikipédia_Página_principal h1.firstHeading
{
  display:none!important;
}

div.aviso-novo-item-esplanada
{
  font-style:italic;
}

div.aviso-novo-item-esplanada + p>a.new
{
  display:none;
}

.mw-search-results
{
  margin-left:0;
}

.mw-search-results li
{
  margin:0;
  padding:.35em 1em;
  border-bottom:1px solid #d3daed;
  background-color:#f6f8fc;
  list-style-type:none;
  list-style-image:none;
}

.infobox
{
  border:1px solid #aaa;
  background-color:#f9f9f9;
  margin-bottom:.5em;
  margin-left:1em;
  padding:.2em;
  float:right;
  clear:right;
}

.infobox tr
{
  vertical-align:top;
}

.infobox caption
{
  margin-left:inherit;
}

.infobox.bordered
{
  border-collapse:collapse;
}

.infobox.bordered td,.infobox.bordered th
{
  border:1px solid #aaa;
}

.infobox.sisterproject
{
  width:22em;
}

.hiddenStructure
{
  display:none;
}

table.prettytable
{
  margin:1em 1em 1em 0;
  background:#f9f9f9;
  border:1px #aaa solid;
  border-collapse:collapse;
}

table.prettytable th,table.prettytable td
{
  border:1px #aaa solid;
  padding:.2em;
}

table.prettytable th
{
  background:#f2f2f2;
  text-align:center;
}

table.prettytable caption
{
  font-weight:bold;
}

.caixa
{
  width:80%;
  margin:0 auto;
  padding:.1em;
  font-size:95%;
}

.caixaMW
{
  margin:1px 0;
  padding:.1em;
  font-size:93%;
  line-height:120%;
  clear:both;
}

.caixaMW.info,.caixa.info
{
  background-color:white;
  border:1px solid #ccc;
}

.caixaMW.infodestaque,.caixa.infodestaque
{
  background-color:#f5faff;
  border:1px solid #cedff2;
}

.caixaMW.aviso,.caixa.aviso
{
  background-color:#fff3f3;
  border:1px solid #ffc9c9;
}

.caixaMW.avisodestaque,.caixa.avisodestaque
{
  background-color:#fff;
  border:2px solid #f00;
}

table.navbox
{
  background-color:#f9f9f9;
  border:1px solid #aaa;
  clear:both;
  font-size:90%;
  margin:1em 0 0;
  padding:2px;
  text-align:center;
  width:100%;
}

table.navbox th
{
  background-color:#ccf;
  padding-left:1em;
  padding-right:1em;
}

table.navbox tr:not(:first-child) th
{
  background-color:#ddf;
}

.navbox .hlist td dl,.navbox .hlist td ol,.navbox .hlist td ul,.navbox td.hlist dl,.navbox td.hlist ol,.navbox td.hlist ul
{
  padding:.125em 0;
}

div.Boxmerge,div.NavFrame
{
  margin:0;
  padding:2px;
  border:1px solid #aaa;
  text-align:center;
  border-collapse:collapse;
  font-size:95%;
}

div.Boxmerge div.NavFrame
{
  border-style:none;
  border-style:hidden;
}

div.NavFrame + div.NavFrame
{
  border-top-style:none;
  border-top-style:hidden;
}

div.NavPic
{
  background-color:#fff;
  margin:0;
  padding:2px;
  float:left;
}

div.NavFrame div.NavHead
{
  height:1.6em;
  font-weight:bold;
  font-size:100%;
  background-color:#efefef;
  position:relative;
}

div.NavFrame p
{
  font-size:100%;
}

div.NavFrame div.NavContent
{
  font-size:100%;
}

div.NavFrame div.NavContent p
{
  font-size:100%;
}

div.NavEnd
{
  margin:0;
  padding:0;
  line-height:1px;
  clear:both;
}

a.NavToggle
{
  position:absolute;
  top:0;
  right:3px;
  font-weight:normal;
  font-size:smaller;
}

.rellink,.dablink
{
  font-style:italic;
  padding-left:1.6em;
  margin-bottom:.5em;
}

.rellink i,.dablink i
{
  font-style:normal;
}

ol.references
{
  font-size:100%;
}

ol.references li:target,sup.reference:target,span.citation:target
{
  background-color:#DEF;
}

sup.reference:target
{
  background-color:#DEF;
}

span.citation,cite
{
  font-style:normal;
  word-wrap:break-word;
}

@media screen,handheld {
  span.citation .printonly
  {
    display:none;
  }
}

.references-small
{
  font-size:90%;
}

.allpagesredirect a,.redirect-in-category a,.unusedtemplatesredirect a,.watchlistredir a
{
  font-style:italic;
  color:green;
}

table.metadata
{
  border:1px solid #aaa;
  display:none;
  speak:none;
}

.metadata-label
{
  color:#aaa;
}

div.listenlist
{
  background:url(//upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gnome-speakernotes.png/30px-Gnome-speakernotes.png);
  padding-left:40px;
}

div.videolist,div.multivideolist
{
  background:url(//upload.wikimedia.org/wikipedia/en/thumb/2/20/Tango-video-x-generic.png/40px-Tango-video-x-generic.png);
  padding-left:50px;
}

div.medialist
{
  min-height:50px;
  margin:1em;
  background-position:top left;
  background-repeat:no-repeat;
}

div.medialist ul
{
  list-style-type:none;
  list-style-image:none;
  margin:0;
}

div.medialist ul li
{
  padding-bottom:.5em;
}

div.medialist ul li li
{
  font-size:91%;
  padding-bottom:0;
}

#content a[href$=".pdf"].external,#content a[href*=".pdf?"].external,#content a[href*=".pdf#"].external,#content a[href$=".PDF"].external,#content a[href*=".PDF?"].external,#content a[href*=".PDF#"].external,#mw_content a[href$=".pdf"].external,#mw_content a[href*=".pdf?"].external,#mw_content a[href*=".pdf#"].external,#mw_content a[href$=".PDF"].external,#mw_content a[href*=".PDF?"].external,#mw_content a[href*=".PDF#"].external
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif) center right no-repeat;
  padding-right:16px;
}

#content span.PDFlink a,#mw_content span.PDFlink a
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif) center right no-repeat;
  padding-right:17px;
}

.messagebox
{
  border:1px solid #aaa;
  background-color:#f9f9f9;
  width:80%;
  margin:0 auto 1em;
  padding:.2em;
}

.messagebox.merge
{
  border:1px solid #c0b8cc;
  background-color:#f0e5ff;
  text-align:center;
}

.messagebox.cleanup
{
  border:1px solid #9f9fff;
  background-color:#efefff;
  text-align:center;
}

.messagebox.standard-talk
{
  border:1px solid #c0c090;
  background-color:#f8eaba;
}

.messagebox.nested-talk
{
  border:1px solid #c0c090;
  background-color:#f8eaba;
  width:100%;
  margin:2px 4px;
}

.messagebox.small
{
  width:238px;
  font-size:85%;
  float:right;
  clear:both;
  margin:0 0 1em 1em;
  line-height:1.25em;
}

.infobox_v2
{
  background:#f9f9f9;
  color:#000;
  font-size:90%;
  line-height:1.1em;
  float:right;
  clear:right;
  margin:0 0 .5em 1em;
  width:23em;
  border:1px solid #aaa;
  padding:2px;
}

.infobox_v2 th
{
  vertical-align:top;
  text-align:left;
}

.infobox_v2 .topo
{
  height:45px;
  vertical-align:middle;
  text-align:center;
  font-size:120%;
  font-weight:bolder;
  line-height:1.2em;
  color:#000;
}

.infobox_v2 .midia
{
  height:35px;
  vertical-align:middle;
  text-align:center;
  font-weight:bolder;
  color:#000;
}

.topo.padrao
{
}

.topo.astronomia
{
  background:url(//upload.wikimedia.org/wikipedia/commons/e/ee/Picto_infobox_rocket.png) no-repeat top right;
}

.topo.bd
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/2c/Picto_infobox_comicballoon.png) no-repeat top right;
}

.topo.castelo
{
  background:url(//upload.wikimedia.org/wikipedia/commons/5/5c/Picto_infobox_chateau.png) no-repeat top right;
}

.topo.cerveja
{
  background:url(//upload.wikimedia.org/wikipedia/commons/0/04/Picto_infobox_beer.png) no-repeat top right;
}

.topo.cinema
{
  background:url(//upload.wikimedia.org/wikipedia/commons/e/ea/Picto_infobox_cinema.png) no-repeat top right;
}

.topo.computador
{
  background:url(//upload.wikimedia.org/wikipedia/commons/c/ce/Arduino_ftdi_chip-1.png) no-repeat top right;
}

.topo.comunicacao
{
  background:url(//upload.wikimedia.org/wikipedia/commons/a/a2/Picto_infobox_antenna.png) no-repeat top right;
}

.topo.edificioreligioso
{
  background:url(//upload.wikimedia.org/wikipedia/commons/3/30/Pictogram-infobox-religious.png) no-repeat top right;
}

.topo.europa
{
  background:url(//upload.wikimedia.org/wikipedia/commons/c/c0/Picto_Infobox_Europe.png) no-repeat top right;
}

.topo.fisica
{
  background:url(//upload.wikimedia.org/wikipedia/commons/3/37/Fourier_infobox.png) no-repeat bottom right;
}

.topo.internet
{
  background:url(//upload.wikimedia.org/wikipedia/commons/a/aa/Picto_infobox_internet_PD.svg) no-repeat center right;
}

.topo.humano
{
  background:url(//upload.wikimedia.org/wikipedia/commons/8/82/Picto_infobox_manwoman.png) no-repeat top right;
}

.topo.jogo
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/2d/Picto_infobox_gamepad.png) no-repeat bottom right;
}

.topo.jornal
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/23/Picto_infobox_journal.png) no-repeat bottom right;
}

.topo.mapa
{
  background:url(//upload.wikimedia.org/wikipedia/commons/7/7a/Picto_infobox_map.png) no-repeat top right;
}

.topo.musica
{
  background:url(//upload.wikimedia.org/wikipedia/commons/6/60/Picto_infobox_music.png) no-repeat bottom right;
}

.topo.novela
{
  background:url(//upload.wikimedia.org/wikipedia/commons/a/a6/Picto_infobox_TV-T%26PC.png) no-repeat bottom right;
}

.topo.palacio
{
  background:url(//upload.wikimedia.org/wikipedia/commons/5/5e/Pictogram_infobox_palace.png) no-repeat top right;
}

.topo.quimica
{
  background:url(//upload.wikimedia.org/wikipedia/commons/9/95/Picto_infobox_chemistry.png) no-repeat bottom right;
}

.topo.teatro
{
  background:url(//upload.wikimedia.org/wikipedia/commons/3/37/Picto_infobox_masks.png) no-repeat top right;
}

.topo.autor
{
  background:url(//upload.wikimedia.org/wikipedia/commons/1/1e/Picto_infobox_auteur.png) no-repeat top right;
}

.topo.wiki
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/24/Picto_infobox_default.png) no-repeat top right;
}

.topo.filme
{
  background:url(//upload.wikimedia.org/wikipedia/commons/4/4d/Picto_infobox_film.png) no-repeat center right;
}

.topo.ferramentas
{
  background:url(//upload.wikimedia.org/wikipedia/commons/c/cb/Picto_infobox_tools.png) no-repeat top right;
}

.topo.livro
{
  background:url(//upload.wikimedia.org/wikipedia/commons/4/42/Picto_infobox_book.png) no-repeat center right;
}

.topo.televisao
{
  background:url(//upload.wikimedia.org/wikipedia/commons/a/a6/Picto_infobox_TV-T%26PC.png) no-repeat top right;
}

.topo.televisao2
{
  background:url(//upload.wikimedia.org/wikipedia/commons/a/a6/Picto_infobox_TV-T%26PC.png) no-repeat bottom right;
}

.topo.espacial
{
  background:url(//upload.wikimedia.org/wikipedia/commons/9/94/Picto_infobox_shuttle.png) no-repeat top right;
}

.topo.rka
{
  background:url(//upload.wikimedia.org/wikipedia/commons/1/1b/Picto_infobox_RKA.png) no-repeat top right;
}

.topo.ginastica
{
  background:url(//upload.wikimedia.org/wikipedia/commons/9/92/Picto_infobox_gymnastic.png) no-repeat top right;
}

.topo.raio
{
  background:url(//upload.wikimedia.org/wikipedia/commons/2/27/Picto_infobox_raio.png) no-repeat top right;
}

.topo.robo
{
  background:url(//upload.wikimedia.org/wikipedia/commons/5/5f/Picto_infobox_robot.png) no-repeat top right;
}

.midia.audio
{
  background:url(//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Gnome-mime-sound-openclipart.svg/35px-Gnome-mime-sound-openclipart.svg.png) no-repeat top left;
}

.midia.video
{
  background:url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Video-x-generic.svg/35px-Video-x-generic.svg.png) no-repeat top left;
}

.fundologo
{
  background:url(//upload.wikimedia.org/wikipedia/commons/1/10/Wikipedia-logo-v2-200px-transparent.png);
}

.toclimit-2 .toclevel-2,.toclimit-3 .toclevel-3,.toclimit-4 .toclevel-4,.toclimit-5 .toclevel-5,.toclimit-6 .toclevel-6,.toclimit-7 .toclevel-7
{
  display:none;
}

div.thumb
{
  border:none;
}

div.tright
{
  border:none;
  margin:.5em 0 .8em 1.4em;
}

div.tleft
{
  border:none;
  margin:.5em 1.4em .8em 0;
}

.AFI
{
  font-family:"Charis SIL","Doulos SIL",Gentium,GentiumAlt,"DejaVu Sans",Code2000,"TITUS Cyberbit Basic","Arial Unicode MS","Lucida Sans Unicode","Chrysanthi Unicode";
}

.Unicode
{
  font-family:Code2000,Code2001,"Free Serif","TITUS Cyberbit Basic","Doulos SIL","Chrysanthi Unicode","Bitstream Cyberbit","Bitstream CyberBase",Thryomanes,Gentium,GentiumAlt,"Lucida Grande","Free Sans","Arial Unicode MS","Microsoft Sans Serif","Lucida Sans Unicode";
}

.politonico
{
  font-family:"Athena Unicode",Gentium,"Palatino Linotype","Arial Unicode MS","Lucida Sans Unicode","Lucida Grande",Code2000;
}

.template-documentation
{
  clear:both;
  margin:1em 0 0;
  border:1px solid #C0C0C0;
  background-color:#ECFCF4;
  padding:1em;
}

div.mw-geshi div,div.mw-geshi div pre,span.mw-geshi,pre.source-css,pre.source-javascript,.source-lua
{
  font-family:monospace,Courier!important;
}

#ca-wikilove.icon a
{
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Symbol_thumbs_up.svg/16px-Symbol_thumbs_up.svg.png);
}

#ca-wikilove.icon a:hover,#ca-wikilove.icon a:focus
{
  background-position:5px 60%;
  background-image:url(//upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Symbol_thumbs_up_color.svg/16px-Symbol_thumbs_up_color.svg.png);
}

.sysop-show,.eliminator-show,
{
  display:none;
}

.skin-monobook .hlist dl,.skin-modern .hlist dl,.skin-vector .hlist dl
{
  line-height:1.5em;
}

.hlist dl,.hlist ol,.hlist ul
{
  margin:0;
  padding:0;
}

.hlist dd,.hlist dt,.hlist li
{
  margin:0;
  display:inline;
  white-space:nowrap;
}

.hlist.hwrap dd,.hlist.hwrap dt,.hlist.hwrap li
{
  white-space:normal;
}

.hlist dl dl,.hlist dl ol,.hlist dl ul,.hlist ol dl,.hlist ol ol,.hlist ol ul,.hlist ul dl,.hlist ul ol,.hlist ul ul
{
  display:inline;
  white-space:normal;
}

.hlist dt:after
{
  content:":";
}

.hlist dd:after,.hlist li:after
{
  content:" ·";
  font-weight:bold;
}

.hlist dd:last-child:after,.hlist dt:last-child:after,.hlist li:last-child:after
{
  content:none;
}

.hlist dd.hlist-last-child:after,.hlist dt.hlist-last-child:after,.hlist li.hlist-last-child:after
{
  content:none;
}

.hlist dd dd:first-child:before,.hlist dd dt:first-child:before,.hlist dd li:first-child:before,.hlist dt dd:first-child:before,.hlist dt dt:first-child:before,.hlist dt li:first-child:before,.hlist li dd:first-child:before,.hlist li dt:first-child:before,.hlist li li:first-child:before
{
  content:"(";
  font-weight:normal;
}

.hlist dd dd:last-child:after,.hlist dd dt:last-child:after,.hlist dd li:last-child:after,.hlist dt dd:last-child:after,.hlist dt dt:last-child:after,.hlist dt li:last-child:after,.hlist li dd:last-child:after,.hlist li dt:last-child:after,.hlist li li:last-child:after
{
  content:")";
  font-weight:normal;
}

.hlist dd dd.hlist-last-child:after,.hlist dd dt.hlist-last-child:after,.hlist dd li.hlist-last-child:after,.hlist dt dd.hlist-last-child:after,.hlist dt dt.hlist-last-child:after,.hlist dt li.hlist-last-child:after,.hlist li dd.hlist-last-child:after,.hlist li dt.hlist-last-child:after,.hlist li li.hlist-last-child:after
{
  content:")";
  font-weight:normal;
}

.hlist.hnum ol
{
  counter-reset:list-item;
}

.hlist.hnum ol > li
{
  counter-increment:list-item;
}

.hlist.hnum ol > li:before
{
  content:counter(list-item) " ";
}

.hlist.hnum dd ol > li:first-child:before,.hlist.hnum dt ol > li:first-child:before,.hlist.hnum li ol > li:first-child:before
{
  content:"(" counter(list-item) " ";
}

#mw-subcategories ul
{
  list-style:none none;
  margin-left:.25em;
}

.CategoryTreeChildren
{
  margin-left:1.25em;
}

#siteSub
{
  display:inline;
  font-size:92%;
  font-weight:normal;
}

#protegida
{
  position:absolute;
  z-index:100;
  right:10px;
  top:85px;
}

#coordinates
{
  position:absolute;
  top:-5px;
  right:0;
  float:right;
  margin:0;
  padding:0;
  line-height:1.5em;
  text-align:right;
  text-indent:0;
  font-size:85%;
  text-transform:none;
  white-space:nowrap;
}

#atalho
{
  position:absolute;
  z-index:100px;
  border:1px solid #999;
  background:#fff;
  right:0;
  top:-15px;
  width:95px;
  margin:0 0 .5em 1em;
  padding:0;
  line-height:1.5em;
  text-align:center;
  text-indent:0;
  font-size:85%;
  text-transform:none;
  white-space:normal;
}

.plainlinksneverexpand a.external.text:after
{
  display:none!important;
}

div.topicon
{
  position:absolute;
  top:-2em;
  margin-right:-10px;
  display:block!important;
}

#destaques1
{
  position:absolute;
  top:-3em;
  margin-right:-10px;
  right:10px;
  display:block!important;
}

#FIST1
{
  position:absolute;
  top:-3em;
  margin-right:-10px;
  right:10px;
  display:block!important;
}

span.texhtml
{
  font-family:'Times New Roman',serif;
  font-size:120%;
  line-height:1em;
}

@media print {
  .ref-scroll
  {
    height:100%;
    overflow:visible;
  }
  
  .dablink,.navbox
  {
    display:none;
  }
}
