Source: eos-sdk
Section: non-free/libs
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Build-Depends: debhelper (>= 8.0.0),
               eos-pstack-dev (>= 1.0),
               gettext (>= 0.18.1),
               gir1.2-gdkpixbuf-2.0,
               gir1.2-gtk-3.0 (>= 3.8),
               gir1.2-json-1.0,
               gir1.2-webkit-3.0 (>= 2.0),
               gir1.2-webkit2-3.0 (>= 2.0),
               gjs,
               gobject-introspection,
               gtk-doc-tools (>= 1.18),
               libgirepository1.0-dev (>= 1.30),
               libglib2.0-bin,
               libgtk-3-dev,
               pkg-config (>= 0.24),
               naturaldocs,
               yelp-tools,
               yelp-xsl
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-sdk
Section: non-free/libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         eos-pstack (>= 1.0)
Recommends: gjs
Description: Endless SDK GUI library
 Runtime libraries for the Endless SDK: GUI library

Package: eos-sdk-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends},
         eos-sdk (= ${binary:Version}),
         eos-pstack-dev
Description: Endless SDK development package
 Development headers for the Endless SDK

Package: eos-sdk-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Description: Endless SDK API documentation
 API documentation for the Endless SDK. Install this if you want to access the
 API documentation locally, either in your browser or in the Devhelp program.

Package: gir1.2-endless-0
Section: non-free/introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends}
Description: Endless SDK
 Introspection data for the Endless SDK. Install this if you want to use the
 GObject introspection bindings for the Endless SDK from a language such as
 Javascript.

Package: eos-sdk-wikipedia
Section: non-free/libs
Architecture: any
Depends: ${misc:Depends},
         eos-sdk (= ${binary:Version}),
         gir1.2-endless-0 (= ${binary:Version}),
         gir1.2-gdkpixbuf-2.0,
         gir1.2-gtk-3.0 (>= 3.8),
         gir1.2-json-1.0,
         gir1.2-webkit-3.0 (>=2.0),
         gjs
Description: Endless SDK Wikipedia library
 GJS libraries for the Endless SDK Wikipedia library

Package: eos-sdk-webhelper
Section: non-free/libs
Architecture: all
Depends: ${misc:Depends},
         eos-sdk (= ${binary:Version}),
         gir1.2-endless-0 (= ${binary:Version}),
         gir1.2-gtk-3.0 (>= 3.8),
         gir1.2-webkit-3.0 (>= 2.0),
         gir1.2-webkit2-3.0 (>= 2.0),
         gjs
Description: Endless SDK web helper
 Internal convenience library to simplify creation of web apps using the
 Endless SDK.
