Source: eos-sdk
Section: non-free/libs
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Build-Depends: at-spi2-core,
               autotools-dev,
               dbus-x11,
               debhelper (>= 8.0.0),
               eos-node-modules-dev (>= 1.0.0),
               gettext (>= 0.18.1),
               gir1.2-gdkpixbuf-2.0,
               gir1.2-glib-2.0,
               gir1.2-gtk-3.0 (>= 3.20),
               gir1.2-json-1.0,
               gir1.2-webkit-3.0 (>= 2.0),
               gir1.2-webkit2-3.0,
               gir1.2-webkit2-4.0,
               gjs (>= 1.40),
               adwaita-icon-theme,
               gobject-introspection,
               gtk-doc-tools (>= 1.18),
               jasmine-gjs (>= 2.2.0),
               libgirepository1.0-dev (>= 1.30),
               libglib2.0-bin,
               libgtk-3-dev (>= 3.20),
               libjson-glib-dev,
               libwebkit2gtk-3.0-dev,
               libwebkit2gtk-4.0-dev,
               python-lcov-cobertura (>= 1.5),
               python3,
               pkg-config (>= 0.24),
               naturaldocs,
               yelp-tools,
               yelp-xsl
Standards-Version: 3.9.4
Homepage: http://www.endlessm.com

Package: libendless-0-0
Section: non-free/libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         adwaita-icon-theme
Recommends: gjs
Replaces: eos-sdk
Provides: eos-sdk
Conflicts: eos-sdk
Description: Endless SDK GUI library
 Runtime libraries for the Endless SDK: GUI library

Package: eos-sdk-0-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends},
         libjson-glib-dev,
         libendless-0-0 (= ${binary:Version})
Replaces: eos-sdk-dev
Provides: eos-sdk-dev
Conflicts: eos-sdk-dev
Description: Endless SDK development package
 Development headers for the Endless SDK

Package: eos-sdk-0-dbg
Section: non-free/debug
Architecture: any
Depends: ${misc:Depends},
         libendless-0-0 (= ${binary:Version})
Description: Endless SDK debugging symbols
 Debugging symbols for the Endless SDK

Package: eos-sdk-0-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Replaces: eos-sdk-doc
Provides: eos-sdk-doc
Conflicts: eos-sdk-doc
Description: Endless SDK API documentation
 API documentation for the Endless SDK. Install this if you want to access the
 API documentation locally, either in your browser or in the Devhelp program.

Package: gir1.2-endless-0
Section: non-free/introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         libendless-0-0 (= ${binary:Version})
Description: Endless SDK
 Introspection data for the Endless SDK. Install this if you want to use the
 GObject introspection bindings for the Endless SDK from a language such as
 Javascript.

Package: eos-sdk-0-webhelper
Section: non-free/libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gir1.2-endless-0 (= ${binary:Version}),
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0 (>= 3.20),
         gir1.2-webhelper2oldprivate-1.0 (= ${binary:Version}),
         gir1.2-webhelper2private-1.0 (= ${binary:Version}),
         gir1.2-webkit-3.0 (>= 2.0),
         gir1.2-webkit2-3.0,
         gir1.2-webkit2-4.0,
         gjs
Replaces: eos-sdk-webhelper
Provides: eos-sdk-webhelper
Conflicts: eos-sdk-webhelper
Description: Endless SDK web helper
 Internal convenience library to simplify creation of web apps using the
 Endless SDK.

Package: gir1.2-webhelper2private-1.0
Section: non-free/introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Endless SDK web helper
 "Private" library used by WebHelper.

Package: gir1.2-webhelper2oldprivate-1.0
Section: non-free/introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Endless SDK web helper
 "Private" library used by WebHelper.

Package: eos-sdk-0-bin
Section: non-free/libdevel
Architecture: all
Depends: ${misc:Depends},
         gir1.2-glib-2.0,
         gir1.2-json-1.0,
         gjs,
         python3
Replaces: eos-sdk-bin
Provides: eos-sdk-bin
Conflicts: eos-sdk-bin
Description: Endless SDK bin files
 Scripts for building/running/bundling applications using the Endless SDK.
