/* RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,article, #menu-wrapper, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, video, button {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
-webkit-box-sizing: border-box;
}
input,select,textarea{outline:none;}
input:focus{outline:none;}

article, #menu-wrapper, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none}

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; color: inherit; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

input, select { vertical-align:middle; }
/* END RESET CSS */

/* USEFUL CLASSES */
.none {display: none;}
/*Clearfix Method*/
.cf:before, .cf:after {content:0 " ";display: table}
.cf:after {clear: both}

.hide-text {text-indent: -9999px;white-space: nowrap;overflow: hidden}
/* END USEFUL CLASSES*/

/*FONTS*/
@font-face {
        font-family: 'BentonSans-Book';
        src: url('../fonts/BentonSans-Book.eot');
        src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/BentonSans-Book.woff') format('woff'),
                 url('../fonts/BentonSans-Book.ttf') format('truetype'),
                 url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'BentonSans-Bold';
        src: url('../fonts/BentonSans-Bold.eot');
        src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/BentonSans-Bold.woff') format('woff'),
                 url('../fonts/BentonSans-Bold.ttf') format('truetype'),
                 url('../fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'BentonSans-Regular';
        src: url('../fonts/BentonSans-Regular.eot');
        src: url('../fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/BentonSans-Regular.woff') format('woff'),
                 url('../fonts/BentonSans-Regular.ttf') format('truetype'),
                 url('../fonts/BentonSans-Regular.svg#BentonSans-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Conv_BentonSans-Thin';
    src: url('../fonts/BentonSans-Thin.eot');
    src: url('../fonts/BentonSans-Thin.woff') format('woff'), 
         url('../fonts/BentonSans-Thin.ttf') format('truetype'), 
         url('../fonts/BentonSans-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_LinLibertine_R';
    src: url('../fonts/LinLibertine_R.eot');
    src: url('../fonts/LinLibertine_R.woff') format('woff'), 
         url('../fonts/LinLibertine_R.ttf') format('truetype'), 
         url('../fonts/LinLibertine_R.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular.woff') format('woff'), 
         url('../fonts/MinionPro-Regular.ttf') format('truetype'),
         url('../fonts/MinionPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: 'BentonSans-Medium';
        src: url('../fonts/BentonSans-Medium.eot');
        src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
             url('../fonts/BentonSans-Medium.woff') format('woff'),
             url('../fonts/BentonSans-Medium.ttf') format('truetype'),
             url('../fonts/BentonSans-Medium.svg#font25') format('svg');
        font-weight: normal;
        font-style: normal;
}
/*END FONTS*/

body {width: 100%;height: 100%;font-family: 'BentonSans-Book';font-size: 13px;line-height: 18px;color:#464646;overflow: hidden;}
#main {-webkit-transition-property: top, bottom;-webkit-transition-duration: 1s;position: absolute;top:0px;width: 100%}
#main-wrapper-home {background: url(../images/background-home.jpg) center center no-repeat;background-size: cover;width: 100%;position: relative;}
#main-wrapper-middle {width: 100%;;height:355px;background: url(../images/background-middle.jpg) no-repeat;background-size: 100% 355px;}
#main-results {background: url(../images/background-result.jpg) center center no-repeat;background-size: cover;width: 100%}
#main-wrapper {width: 1000px;margin: auto;position: relative;}
a {color:#277090;text-decoration: none}
a:hover {text-decoration: underline;}
hr {display: none}
hr.hr-normal {border: 0;margin:25px 0px; height: 1px;background: #333;background: -webkit-gradient(linear,0 0,100% 0,from(rgba(201, 201, 201, 0.4)), to(rgba(201, 201, 201, 0.4)), color-stop(50%, #c4c0ba));width: 100%;float: left;clear: both;display: block;} 
hr.hr-title {margin-bottom: 0px;background: url(../images/hr-separate.png);width: 925px;height: 11px;box-shadow:none;opacity: 0.5;position: fixed;margin-top: -12px;background-size: 100%;background-repeat: no-repeat;display: block;}
#main-wrapper-home #header-home {width: 420px;height: 260px;margin: auto;margin-top: -130px;top: 50%;position: absolute;left: 50%;margin-left: -210px;}
#header-top {height: 95px;padding: 15px 0px 0px 40px }
#header-top  [class^="header"] {float: left;}
#main-wrapper-home #header-home  [class^="header"] {float: none;}
.header-col1,.header-col3 {width: 25%}
#main-wrapper-home .header-col1,#main-wrapper-home .header-col3 {width: 100%;margin: auto}
.header-col2 {width: 50%}
#main-wrapper-home .header-col2 {width: 100%}
#main-wrapper-home .header-col1 a ,#main-wrapper-home .header-col3 select {display: block;margin:0px auto 15px}
#main-wrapper-home .header-col3 .language {margin: 60px 0px 0px 0px}
.logo-home {background: url(../images/logo-wiki.png);display: block;width: 197px;height: 61px}
.form-search {position: relative;}
.input-search {width: 100%;border: none;border-radius: 50px;background: rgba(0,0,0,0.2) ;height: 37px;padding: 0 35px 0px 35px;color:#fff;text-align: center;-webkit-box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.3),inset 1px -1px 0px 0px rgba(255, 255, 255, 0.3);-webkit-box-sizing:border-box;text-align: left;}
.input-search:hover {background: rgba(0,0,0,0.4)}
.input-search:focus {background: rgba(0,0,0,0.6)}
.icon-search {width: 18px;height:20px;position:absolute;top:8px;left:10px;background:url(../images/sprite-search-box.png) 0 2px no-repeat;opacity: 0.6}
.input-search:focus + .icon-search {opacity: 1}
.close-search {width: 17px;height: 17px;position: absolute;top:10px;right:10px;background:url(../images/sprite-close-input.png) 0 4px no-repeat;display: none;}
.close-search:hover {background-position: 0 -13px}
.close-search:active {background-position: 0 -33px}
.language {margin:5px 0px 0px 50px;}
.language select {-webkit-appearance: none;border: none;border-radius: 5px;width: 130px;height:27px;color:#b3b3b3;padding: 5px;box-shadow: inset 0px 2px 7px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.3); background: rgba(58,53,43,0.4) url(../images/arrow-select.png) no-repeat 105px center;}
.language select option {background: #fff;height: 25px;display: block;}
#header-content {overflow: hidden;padding:45px 0px 35px 0px}
#main-content {width: 100%;background: url(../images/bg-main-content.png) repeat-x;padding:0px 28px 0px 33px;box-shadow:  0 0 10px #000;border-top: 1px solid #a49e9a;float: left;overflow: hidden;}
#inside-content {overflow-y: auto;overflow-x: hidden;;margin-top: -5px;position: relative;padding-top: 10px;padding-right: 15px;}
#inside-content p { width: 65%; margin-bottom: 10px; }
#inside-content li { list-style-position: inside;width: 65%;}
#inside-content td li { width: 100%; }
#inside-content > section {overflow: hidden;}
#inside-content::-webkit-scrollbar {width: 9px;z-index:1000}
#inside-content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);-webkit-border-radius: 10px;border-radius: 10px;}
#inside-content::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 10px;background: rgba(162,162,162,1);-webkit-box-shadow: inset 0 0 6px rgba(70,70,70,0.5);}
#inside-content::-webkit-scrollbar-thumb:window-inactive {background: rgba(70,70,70,0.6);}
h1 {font-family: 'Conv_BentonSans-Thin';font-size: 40px;font-weight: normal;line-height: 28px}
h2 {clear: both;}

.box-img img {margin-bottom:10px}

.icon-pdf-print {position: absolute;width: 65px;height: 230px;font-family: 'BentonSans-Medium';font-weight: normal;font-size: 13px;top: 50%;margin-top: -115px;right: -90px}
.icon-pdf-print > a {width: 65px;background: url(../images/sprite-pdf-print.png) no-repeat;position: absolute;display: block;padding-top:70px;text-align: center;color:#645850;font-size: 12px;text-transform:uppercase;}

.icon-pdf-print a.pdf {top: 0px}
.icon-pdf-print a.print {bottom:0px;background-position: -64px 0px}

/*css for auto-complete*/
.form-search {position: relative;}
.auto-complete {width: 406px;position: absolute;top: 50px;left:10px;list-style: none;z-index: 100}
.auto-complete li {height: 30px;padding: 6px 5px;background: url(../images/eos_wikipedia_result-list.png) 0px 0px;cursor:pointer;overflow: hidden;}
.auto-complete li.selected {background-position: 0px -29px;}
.auto-complete li span {position: relative;white-space: nowrap;}
.auto-complete li.selected span::after {content: " ";position: absolute;right:-15px;top:2px;width: 7px;height: 10px;background: url(../images/eos_wikipedia_result-arrow.png) no-repeat}