/*CSS for structure*/
#inside-content * {-webkit-box-sizing: content-box;}
#inside-content ul {list-style-type: none;}
#inside-content sup,#inside-content .mw-editsection {display: none;}
@media screen and (max-width: 1200px) {
   #main-wrapper {width: 850px;}
   .icon-pdf-print {right: -72px;}
   hr.hr-title {width: 784px;}
}

/*title pattern*/
h2,h3,h4,h5 {margin: 20px 0px}

h2 { padding: 0px 0px 10px;background:url(../images/title-line.jpg) no-repeat bottom;font-size: 20px;margin-bottom: 10px;}
h3 { font-size: 16px; }
b { font-weight: bold;font-family: 'BentonSans-Bold';  }

/*toc index pattern*/
#toc {border:none;background: none}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {text-align: left;margin-top: 25px;background: url(../images/title-line.jpg) no-repeat bottom;background-size: 100% 1px; }
#toc #toctitle h2, .toc #toctitle h2, #toc .toctitle h2, .toc .toctitle h2 {font-family: 'BentonSans-Bold'; font-size: 15px;font-weight: normal;text-transform: uppercase;background: none;}
#toc a {color:#464646;}
#toc a:hover {text-decoration: none}
#toc ul ul, .toc ul ul {margin: 0 0 0 2em;}
#toc li {position: relative;padding:0px 0px 7px 20px;border-bottom: 1px solid #fff;margin-top: 5px}
#toc li:after {width: 15px;height: 15px;position: absolute;background: url(../images/index_list_arrow-down.svg) no-repeat;left: 0px;top: 1px; content:""}
#toc ul > li > ul > li {border-bottom: none}
.tocnumber {margin-right: 5px;}

/*style for thumbs*/
div.thumbinner {border: 1px solid #ccc;padding: 7px!important;background-color: #f9f9f9;font-size: 100%;text-align: center;overflow: hidden;box-shadow: -1px 1px 1px 0px rgba(203,199,195,0.7);  max-width: 914px; }

div.thumbinner img { max-width: 100%; }

div.thumbcaption { text-align: left;  }
div.magnify { float: right; margin-left: 10px; }

/*table class infobox_v2*/
.infobox_v2 {float: right;}

/*classes defaults*/
div.tleft, div.floatleft, table.floatleft {float: left;clear: left;}
div.tright, div.floatright, table.floatright {clear: right;float: right;}
div.tright {border: none;margin: 0.5em 0 0.8em 1.4em;}
div.tleft {border: none;margin: 0.5em 1.4em 0.8em 0;}
.rellink, .dablink {font-style: italic;padding-left: 0;margin-bottom: 10px;}

/*player for countries*/
.mediaContainer {margin-top: 10px}

/*gallery images*/
li.gallerybox {display: inline-block !important;}
li.gallerybox .gallerytext p { width: 100% !important;  }

/*first block class noprint*/
.noprint {margin: 20px auto !important;box-shadow: -1px 1px 1px 0px rgba(203,199,195,0.7);border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important;border-right:1px solid #ccc !important; display: none; }

/*font size with 110%*/
/*table th,table tr,table td {font-size: 100% !important;}*/

/*page of disamgigation*/
#disambig {background-color:#fff;-webkit-box-shadow: 0px 0px 1px 1px rgba(179, 179, 179, 1);width: 99%;margin:25px 2px 20px;padding: 20px;box-sizing:border-box;}
#disambig i {font-style: normal;line-height: 25px}
#disambig ~ p {padding-bottom: 10px;}
#disambig ~ p:after {content:" ";border: 0;margin:15px 0px 0px 0px; height: 1px;background: #333;background: -webkit-gradient(linear,0 0,100% 0,from(rgba(201, 201, 201, 0.4)), to(rgba(201, 201, 201, 0.4)), color-stop(50%, #c4c0ba));width: 100%;float: left;clear: both;display: block;}
#disambig ~ ul {list-style-type: disc;list-style-image: none;margin-left:2px;}
#disambig ~ ul li {list-style-position: inside;margin-top: 10px}
#disambig ~ ul li:before {content:" ";border: 0;margin:5px 0px 0px 0px; height: 1px;background: #333;background: -webkit-gradient(linear,0 0,100% 0,from(rgba(201, 201, 201, 0.4)), to(rgba(201, 201, 201, 0.4)), color-stop(50%, #c4c0ba));width: 100%;float: left;clear: both;display: block;}

/*style of table right*/
.infobox {border: 1px solid #ccc; padding: 7px!important; background-color: #f9f9f9; font-size: 100%; text-align: center; overflow: hidden; box-shadow: -1px 1px 1px 0px rgba(203,199,195,0.7); max-width: 914px;border-radius: 0px !important;}

.infobox_v2 {border: 1px solid #ccc; padding: 7px!important; background-color: #f9f9f9; font-size: 100%; text-align: center; overflow: hidden; box-shadow: -1px 1px 1px 0px rgba(203,199,195,0.7); max-width: 914px;border-radius: 0px !important;}
.infobox_v2 th{text-align: left !important;border-bottom: 1px solid #B3B3B3}

/*coordinates*/
#coordinates {top: -5px;right: 25px;}
#coordinates.noprint { box-shadow:none !important;border: 0px !important; display: block; }


/* tabelas wikitable */
table.wikitable { border: 1px solid #ccc; padding: 7px!important; background-color: #f9f9f9; font-size: 100%; text-align: center;box-shadow: -1px 1px 1px 0px rgba(203,199,195,0.7); max-width: 914px;border-radius: 0px !important; }

table.wikitable tr th { border: 1px solid #ccc; }
table.wikitable tr td { border: 1px solid #ccc; }












