/* Wipe all theming CSS to start with */

@import url("resource:///com/endlessm/sdk/css/reset.css");

@define-color endless_theme_bg_color #2e3436;
@define-color endless_wm_shadow alpha(black, 0.5);

/* Endless app window */

EosWindow {
    background-color: @endless_theme_bg_color;
}

.window-frame {
    border-color: darker(@endless_theme_bg_color);
    border-radius: 7px 7px 0 0;
    border-width: 1px;
    border-style: solid;

    box-shadow: 0 2px 8px 3px @endless_wm_shadow;

    /* this is used for the resize cursor area */
    margin: 10px;
}

.window-frame:backdrop {
    box-shadow: 0 2px 5px 1px @endless_wm_shadow;
}

/* Endless window top bar */

.top-bar {
    font-family: "Lato";
    font-weight: bold;
    font-size: 11px;
    background-image: -gtk-gradient(linear, center top, center bottom,
        from(#464646), to(#1e1e1e));
}

.top-bar.unmaximized {
    border-radius: 7px 7px 0px 0px;
}

.top-bar:backdrop {
    background-image: -gtk-gradient(linear, center top, center bottom,
        from(#282828), to(#1e1e1e));
}

.top-bar .button {
    border-radius: 2px;
    color: #8c8c8c;
    icon-shadow: 0px -1px alpha(black, 0.25);
}

.top-bar .button:backdrop {
    color: #646464;
}

.top-bar .button:hover {
    color: #dcdcdc;
    icon-shadow: 0px -1px alpha(black, 0.35);
    background-image: -gtk-gradient(linear, left bottom, left top,
        color-stop(0.98, rgb(131, 131, 131)),
        color-stop(0.95, rgb(108, 108, 108)),
        color-stop(0, rgb(68, 68, 68)));
}

.top-bar .button:active {
    color: #787878;
    icon-shadow: none;
    background-image: -gtk-gradient(linear, left bottom, left top,
        color-stop(0.98, rgb(79, 79, 79)),
        color-stop(0.95, rgb(71, 71, 71)),
        color-stop(0, rgb(67, 67, 67)));
}

.endless-search-box .cell{
    color: #464646;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('resource:///com/endlessm/sdk/assets/autocomplete_list_middle.png');
}

.endless-search-box .cell:selected{
    background-image: url('resource:///com/endlessm/sdk/assets/autocomplete_list_middle_hover.png');
}

/* Insensitive Text */

*:insensitive {
    color: rgba(255, 255, 255, 0.5);
}
