* {
    font-family: Lato;
}

EosWindow {
    background-color: black;
}

.title {
    font-family: "Lato Light";
    color: #ffffff;
    text-shadow: 0px 1px 0px alpha(#23326e, 0.15);
}

.title.main-element.category.front-page {
    font-size: 9.17em;
}

.title.category.front-page {
    font-size: 3.75em;
}

Gjs_ArticleList{
    background-image: url('resource:///com/endlessm/wikipedia-domain/assets/submenu_background.jpg');
}

Gjs_ArticleList .button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.45em;
    color: #464646;
    background-image: url('resource:///com/endlessm/wikipedia-domain/assets/submenu_bg_normal.jpg');
    background-size: cover;
}

Gjs_ArticleList .button:hover {
    background-image: url('resource:///com/endlessm/wikipedia-domain/assets/submenu_bg_hover.png');
}

Gjs_ArticleList .button:active {
    background-image: url('resource:///com/endlessm/wikipedia-domain/assets/submenu_bg_pressed.png');
}

Gjs_ArticleList .scrollbar.slider {
    border-radius: 6px;
    background-color: alpha(#464646, 0.5);
}

.articles-page {
    color: black;
    background-color: #babdb6;
}

.category-page #category_info {
    background-color: alpha(#464646, 0.8);
}

.category-page #category_description{
    color:rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
}

.category-page #category_scrolled_window .scrollbar.slider {
    border-radius: 6px;
    background-color: alpha(white, 0.3);
}

.category-page #category_title{
    font-family: "Lato Light";
    font-size: 4.17em;
    color: rgba(255, 255, 255, 0.9);
}

Gjs_CategoryButton.clickable {
    transition: background-color 150ms ease-in-out;
}

Gjs_CategoryButton.clickable:hover {
    background-color: alpha(#212121, 0.5);
}

Gjs_CategoryButton .image {
    opacity: 0.0;
    transition: opacity 150ms ease-in-out;
}

Gjs_CategoryButton.clickable .image:hover {
    opacity: 1.0;
}

#side_bar_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.category-page .back .image {
    padding: 15px;
    color: black;
    opacity: 0.6;
    icon-shadow: inset 0 1px 1px alpha(black, 0.5), 0 1px alpha(white, 0.2);
}

.category-page .back .image:hover {
    color: white;
}

.category-page .back .image:active {
    color: #d7d7d7;
}

.category-page .back .image:hover,
.category-page .back .image:active {
    opacity: 0.95;
    icon-shadow: inset 0 1px 1px alpha(black, 0.5),
                 0 1px alpha(white, 0.2),
                 0 0 15px alpha(black, 0.15);
}

.category-page .back .label {
    font-weight: bold;
    color: alpha(white, 0.0);
}

.category-page .back .label:hover,
.category-page .back .label:active {
    text-shadow: 0px 1px 0px alpha(#000000, 0.5), 0px 0px 12px alpha(#000000, 0.3);
    color: alpha(white, 1.0);
}

.category-page .back {
    /* button image should be 60px from the right. image needs 15 px padding for
     * background glow, so we pad by 45 here */
    padding-left: 45px;
    padding-right: 45px;
}

Gjs_BackButton {
    -GtkButton-image-spacing: 7;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip {
    border-radius: 5px;
    background-color: alpha(#212526, 0.90);
}
